// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$height__header: 3rem;
$height__header__tablet: '#{$height__header / 2} + 0.5rem';
$width__widescreen: 1400px;
$width__centering: 1200px;
$width__max__tablet: 768px;
$width__max__phone: 480px;
$width__wide: $width__max__tablet;

$color__layout: $gray-100;
$color__layout__invert: $gray-900;
$color__text: $gray-900;
$color__text__invert: $gray-100;
$color__background__code: mix($color__text__invert, $color__layout, 10%);
$color__background__code__invert: mix($color__text, $color__layout, 10%);
$color__a__mid: mix($color__text, $color__layout, 50%);
$color__a__mid__invert: mix($color__text__invert, $color__layout__invert, 50%);
$color__header: $gray-900;
$color__header__invert: $gray-100;
$color__background__header: $gray-600;
$color__background__header__invert: $gray-700;

$color__a: $gray-700;
$color__a__invert: $gray-300;
